/* Styles for scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #F1F1F1; 
  }
   
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #a9d6e5;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a7cace; 
  }
  
  .invite-modal {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
  }
  
  .invite-modal-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .invite-form {
    display: flex;
    flex-direction: column;
  }
  
  .invite-form-label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .invite-form-input,
  .invite-form-select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .invite-form-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .invite-form-button-submit {
    background: #007bff;
    color: #fff;
  }
  
  .invite-form-button:not(.invite-form-button-submit) {
    background: #6c757d;
    color: #fff;
  }
  